@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Variables */

:root {
  /* Font  */
  --serif: "Poppins";

  /* Colors  */
  --primary: #f32a42;
  --dark: #262626;

  /* Sizes  */

  --sm: calc(1.618 * 1rem);
  --md: calc(1.618 * 2rem);
  --lg: calc(1.618 * 3rem);
  --xl: calc(1.618 * 4rem);
  --xll: calc(1.618 * 5rem);
}

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--serif);
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

img{
  width: 100%;
}

section{overflow: hidden;}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 0.9;
}

h1 {
  font-size: calc(var(--xll) / 2);
  text-transform: uppercase;
}
h2 {
  font-size: calc(var(--xl) / 2);
}
h3 {
  font-size: calc(var(--lg) / 2);
}
h4 {
  font-size: calc(var(--md) / 2);
}
h5 {
  font-size: 1rem;
  font-weight: 500;
}

p{
  opacity: .8;
  line-height: 1.6;
}

@media (min-width: 1096px) {
  h1 {
    font-size: calc(var(--xll) * 0.75 );
    text-transform: uppercase;
  }
  h2 {
    font-size: calc(var(--xl) * 0.75 );
  }
  h3 {
    font-size: calc(var(--lg) * 0.75 );
  }
  h4 {
    font-size: calc(var(--md) * 0.75 );
  }
  h5 {
    font-size: 18px;
    font-weight: 500;
  }
}



